<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/style.css') }}" rel="stylesheet">

    <link href="{{ static_url('favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="spinner" style="display: none; margin-top: 3em;">
      <i class="fa fa-spinner fa-spin" style="text-align: center; font-size: 5em; width: 100%;"></i>
      <h3>STDOUT:</h3>
      <pre id="stdout" style="margin: 1em;"></pre>
      <h3>STDERR:</h3>
      <pre id="stderr" style="margin: 1em;"></pre>
    </div>
    <div id="welcome" style="text-align: center; margin-top: 3em;">
      <h2>Simply Drag&amp;Drop file to this body!</h2>
      <p>
      Supported formats:</br>
      Newick trees: .nwk or _phyml_tree</br>
      Phylip: .phy or .phylip</br>
      Fasta: .fasta</br>
      </p>
    </div>
    <div id="content"></div>
    <div id="inspect"></div>
    <script src="{{ static_url('js/newick.js') }}"></script>
    <script src="{{ static_url('js/d3.v3.min.js') }}"></script>
    <script src="{{ static_url('js/d3.phylogram.js') }}"></script>
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/app.js') }}"></script>
  </body>
</html>
