html, body {
    width: 100%;
    height: 100%;
}

.node.leaf circle {
  fill: steelblue;
}

.node.leaf text {
  font-family: 'Helvetica Neue, Helvetica, sans-serif';
  font-size: '10px';
  fill: 'black';
}

.node.inner circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node.root circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
